.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#quote-box {
  width: 70%;
	height: auto;
	display: flex;
	flex-direction: column;
  justify-content: space-between;
	padding: 25px 30px 0 30px;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.buttons {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-bottom: 30px;
	flex-wrap: wrap;
	button {
		padding: 7px;
		font-style: italic;
		color: #fff;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
}
	.social-net {
		font-size: xx-large;
		padding: 1px;
	}
}

#text {
	font-size: 1.5rem;
}
#author {
	font-size: medium;
	
}

.madeBy {
  font-size: .75rem;
	color: #fff;
}
